@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;1,100&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html {
    font-size: 62%;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
    width: 100%;
    height: 9rem;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 2fr 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
  }
  
  .menu-link {
    grid-column: 3/4;
  }
  
  .menu-link ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo h2 span{
    font-size: 3.5rem;
    font-weight: 600;
    color: #4F90A3;
    font-family: 'Lobster', cursive;

  }
  
  .menu-link ul li a {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
  }
  .menu-link ul li:hover > a {
    transform-origin: left;
    color: #4F90A3;
    text-decoration: underline;
    transition: 0.5s;
  }

  .log{
    display: flex;
    justify-content: center;
    align-items: center;
  }