
.subject-box{
    margin-top: 90px;
    height: 50vh;
}

.subject{
    height: 30vh;
    width: 24%;
}

.card button:hover{
    border: none;
}

.card button h3:hover{
    color: white;
}

.card{
    background-color: #4F90A3;
}

.img2{
    height: 28vh;
    width: 44%;
    opacity: 20%;
    margin: 8px;
}

.img1{
    margin: 8px;
    margin-bottom: 0px;
    height: 20vh;
    width: 44%;
    opacity: 20%;
}